.header {
    display: flex;
    background: url(../img/heder/background_heder.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
    margin: 0 auto;
}

.header__banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

.header__logo {
    display: flex;
    width: 45%;
}

.logo {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 22pt;
    color: white;
}

.header__menu {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.header__item {
    display: flex;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 11pt;
    color: white;
    text-transform: uppercase;
    height: 40px;
    align-items: center;
}

.header__item:hover {
    border-bottom: solid 4px #fce38a;
    color: #fce38a;
    position: relative;
    top: 4px;
}

.active {
    box-sizing: content-box;
    border-bottom: solid 4px #fce38a;
    color: #fce38a;
}

.header__title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.header__text {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.header__text_cursive {
    font-family: 'Kaushan', serif;
    font-size: 50pt;
    color: white;
    text-align: center;
}

.header__text_large {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 9.375rem;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 110px;
}

.header__line {
    display: flex;
    height: 80px;
    align-items: center;
}

.button {
    display: flex;
    width: 160px;
    height: 40px;
    border: solid 3px white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-text {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 11pt;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.header__nav-bottom {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
}

.header__point {
    display: flex;
    width: 22%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    border-top: solid 3px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header__point:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.area {
    display: flex;
    height: 28px;
    align-items: flex-end;
}

.num {
    display: flex;
    font-size: 18pt;
    font-weight: 600;
    margin-right: 6px;
}

.let {
    font-size: 12pt;
    font-weight: 400;
    padding-bottom: 1px;
}

.select {
    border-top: solid 3px rgba(243, 129, 129, 1);
}


@media screen and (max-width: 768px) {
    .header__logo {
        display: none;
    }
    
    .header__menu {
        width: 100%;
        padding: 0 5px;
    }
    
    .header__text_cursive {
        font-size: 40pt;
        height: 80px;
    }  

    .header__text_large {
        font-size: 80pt;
    }

}

@media screen and (max-width: 420px) {
    .header__logo {
        display: none;
    }
    
    .header__menu {
        width: 100%;
        padding: 0 5px;
    }
    
    .header__item {
        font-size: 8pt;
    }
    
    .header__text_cursive {
        font-size: 25pt;
        height: 80px;
    }  

    .header__text_large {
        font-size: 40pt;
        line-height: 60px;
    }

    .header__nav-bottom {
        flex-direction: column;
        height: 180px;
        align-items: center;
    }

    .header__point {
        width: 90%;
        justify-content: center;
    }

    .select {
        color: rgba(243, 129, 129, 1);
    }
}
