.heder {
    display: flex;
    background-image: url(../img/heder/background_heder.png);
    height: 1000px;
    width: 100%;
    justify-content: center;
    
}

.heder__banner {
    width: 1200px;
    display: flex;
    margin: 0 20px 0 20px;
    flex-direction: column;
    justify-content: space-between;
}

.heder__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 85px;
}

.heder__logo {
    display: flex;
    width: 45%;
}

.logo {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 22pt;
    color: white;
}

.heder__menu {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.heder__item {
    display: flex;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 11pt;
    color: white;
    text-transform: uppercase;
    height: 40px;
    align-items: center;
}

.active {
    box-sizing: content-box;
    border-bottom: solid 4px #fce38a;
    color: #fce38a;
}

.heder__title {
    display: flex;
    width: 100%;
    height: 550px;
    flex-direction: column;
    align-items: center;
}

.heder__text {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    justify-content: center;
}

.heder__text_cursive {
    
    font-family: 'Kaushan', serif;
    font-size: 55pt;
    color: white;
    text-align: center;
    height: 140px;
}

.heder__text_large {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 110pt;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 130px;
}

.heder__line {
    display: flex;
    height: 120px;
    align-items: center;
}

.button {
    display: flex;
    width: 160px;
    height: 40px;
    border: solid 3px white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-text {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 11pt;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.heder__nav-bottom {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
}

.heder__point {
    display: flex;
    width: 280px;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    border-top: solid 3px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.heder__point:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.area {
    display: flex;
    height: 28px;
    align-items: flex-end;
}

.num {
    display: flex;
    font-size: 18pt;
    font-weight: 600;
    margin-right: 6px;
}

.let {
    font-size: 12pt;
    font-weight: 400;
    padding-bottom: 1px;
}

.select {
    border-top: solid 3px rgba(243, 129, 129, 1);
}