.main {                                 /*нужно ли main разбивать на отдельные файлы, например по секциям?*/
    display: flex;
    width: 100%;
    justify-content: center;
}

/*
.content {
    width: 1200px;
    display: flex;
    margin: 0 20px 0 20px;
    flex-direction: column;
    align-items: center;
}*/

.text_curcive {
    font-family: 'Kaushan', 'Arial', sans-serif;
    font-size: 24pt;
    color: #333333;
    text-align: center;
}

.text_large {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 30pt;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.text_small {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 12pt;
    color: #999999;
    display: flex;
    max-width: 960px;
    text-align: center;
    line-height: 25px;
}

.name-description {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

.description {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 12pt;
    color: #999999;
    font-weight: 400;
}

@media screen and (max-width: 420px) {
    .text_curcive {
        font-size: 14pt;
    }
    
    .text_large {
        font-size: 20pt;
    }
    
   
}