.service {
    display: flex;
    width: 100%;
    min-height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.service__text {
    display: flex;
    width: 100%;
    /* height: 50%; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.service__text .text_large{
    margin: 20px 0 45px 0;
}

.service__line {
    display: flex;
    height: 60px;
    align-items: flex-start;
}

.service__card {
    display: flex;
    width: 100%;
    /* height: 50%; */
    flex-wrap: wrap;
    justify-content: center;
}

.service__block {
    display: flex;
    width: 33.333%;
    min-width: 300px;
    max-height: 170px;
}

.service__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    margin-top: 4px;
}

.service__description {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: flex-start;
}

.service__description .name-description {
    margin-bottom: 20px;
}


@media screen and (max-width: 420px) {
   
}