.speech {
    display: flex;
    width: 1920px;
    min-height: 290px;
    background-color: #f8f8f8;
    justify-content: center;
}

.speech__block {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.arrow-left {
    display: flex;
}

.speech__text{
    display: flex;
    max-width: 775px;
    height: 160px;
    flex-direction: column;
    justify-content: space-between;
}

.speech__text_curcive {
    font-size: 17pt;
    font-style: italic;
    font-weight: 100;
    text-align: left;
}

.speech_sign {
    display: flex;
    align-items: center;
}

.speech_sign p {
    margin-left: 10px;
}

@media screen and (max-width: 420px) {
   
}