.statistic {
    display: flex;
    max-width: 1920px;  /*для того что бы в следующем блоке работал wrap нужно поставить max-width, при этом ширина заливки пропадает на 1920...*/
    min-height: 270px;
    background-color: #95e1d3;
    justify-content: center;
}

.statistic__block {
    display: flex;
    max-width: 1200px;
    min-height: 270px;
    flex-wrap: wrap;
    justify-content: center;
}

.statistic__element {
    display: flex;
    width: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #b5eae0;
}

.statistic__element:last-child {
    border-right: solid 1px #b5eae0;
}

.statistic__element:hover {
    background-color: #b5eae0;
}

.statistic__element_large {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 72pt;
    font-weight: 700;
    color: white;
}

.statistic__element_small {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
}

@media screen and (max-width: 420px) {
  
    .statistic__element {
        border-left: none;
        border-bottom: solid 1px #b5eae0;
    }
    .statistic__element:last-child {
        border-right: none;
        border-bottom: none;
    }
    .statistic__element_large {
        font-size: 40pt;
    }
    
    .statistic__element_small {
        font-size: 10pt;
        line-height: 40px;
    }
}